.feature {
    height: 529px;
    display: flex;
    padding-top: 113px;
}

.feature-slider {
    background-image: url(../img/slider_6.png);
    background-repeat: no-repeat;
    width: 767px;
    height: 529px;
    position: relative;

    .feature-slider__img {
        width: 100%;
        height: 529px;
        object-fit: cover;
        object-position: center;
    }

    .feature-slider__content {
        min-width: 293px;
        height: 78px;
        position: absolute;
        top: 146px;
        left: 39px;
        
        .feature-slider__title {
            font-size: 53.7px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;

            span {
                color: #f16d7f;
            }
        }

        .feature-slider__text {
            font-size: 32.2px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;
        }
    }
}

.feature-box {
    width: 373px;
    height: 529px;
    background-color: #1a1e28;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .feature-blok {
        width: 100%;
        min-height: 95px;
        display: flex;
        justify-content: space-evenly;

        &:nth-child(1) {

            .feature-blok__img {
                width: 45px;
                height: 32px;
            }
        }

        &:nth-child(2) {
            
            .feature-blok__img {
                width: 40px;
                height: 40px;
            }
        }

        &:nth-child(3) {
            
            .feature-blok__img {
                width: 47px;
                height: 35px;
            }
        }

        .feature-blok__content {
            width: 219px;
        
            .feature-blok__title {
                font-size: 20px;
                line-height: 1.7;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }

            .feature-blok__text {
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }
        }
    }
}
