.may-like {
    min-height: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        padding-top: 119px;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }

    &__block {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        padding-top: 72px;

    }

    &__product {
        width: 261px;
        min-height: 364px;
        position: relative;
        transition-duration: 0.4s;

        .may-like__hover {
            width: 260px;
            height: 281px;
            background-color: rgba(10, 8, 8, 0.521);
            opacity: 0;
            position: absolute;

            a {
                width: 123px;
                height: 39px;
                border: 2px solid $white-color;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                color: $white-color;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                position: absolute;
                top: 98px;
                left: 70px;
                transition-duration: 0.4s;

                img {
                    padding-right: 3px;
                }
            }
        }

        .may-like__img {
            width: 261px;
            height: 280px;
            background-color: #e9e9e9;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .may-like__text {
            padding-left: 15px;
            
            h3 {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #6f6e6e;
                padding-top: 18px;
            }

            p {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: $main-color;
                padding-top: 15px;
            }
        }

        &:hover {
            box-shadow: $shadow-black-color;

            .may-like__hover {
                opacity: 1;

                a {
                    opacity: 1;
                }
            }
        }
    }
}