$main-color: #f16d7f;
$font-color: #222222;
$hover-color: #cdcdcc;
$white-color: #ffffff;
$shadow-black-color: 0px 5px 8px 0px rgba(0,0,0,0.15);
$shadow-pink-color: 0px 5px 8px 0px rgba(247, 143, 143, 0.781);