* {
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body a {
  text-decoration: none;
  color: #222222;
}

body .container {
  width: 1140px;
  margin: 0 auto;
}

body li {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin-left: 13px;
}

.logo__name span {
  font-weight: 900;
  color: #f16d7f;
}

.header > * {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  height: 38px;
  margin-left: 37px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__browse {
  text-align: center;
  width: 87px;
  height: 38px;
  background-color: #f9f9f9;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  padding-top: 4px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__browse:hover {
  cursor: pointer;
  background-color: #cdcdcc;
}

.search__fa-caret-down {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
}

.search__input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  width: 266px;
  height: 38px;
  background-color: #ffffff;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  padding-left: 15px;
}

.search__button {
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #FFFFFF;
  width: 36px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__button:hover {
  background-color: #cdcdcc;
}

.fa-search {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.cart {
  margin-left: 349px;
  width: 32px;
  height: 29px;
  color: #222222;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.cart:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.my-account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  margin-left: 26px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.my-account:hover {
  background-color: #cdcdcc;
}

.my-account a {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-top: 4px;
  padding-left: 18px;
}

.my-account__fa-caret-down {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.top-nav {
  min-height: 51px;
  font-size: 14px;
  font-weight: 700;
}

.top-nav > .menu-list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-top: 17px;
}

.top-nav > .menu-list .menu-link {
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.top-nav > .menu-list .menu-link:hover {
  color: #898989;
}

.top-nav > .menu-list .menu-item {
  margin-right: 48px;
}

.top-nav > .menu-list .menu-item:last-child {
  margin-right: 0;
}

.slider {
  min-height: 614px;
  background-color: #e8e8e8;
}

.slider-brand {
  min-height: 614px;
  background-image: url(../img/slider_1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.slider-brand__content {
  min-height: 614px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-brand__title {
  width: 500px;
  height: 93px;
  text-transform: uppercase;
  border-left: 12px solid #f16d7f;
}

.slider-brand__name {
  font-size: 60px;
  line-height: 0.7;
  font-weight: 900;
  letter-spacing: 0.025em;
  padding-left: 12px;
}

.slider-brand__text {
  font-size: 40px;
  line-height: 0.8;
  font-weight: 900;
  letter-spacing: 0.024em;
  padding-top: 18px;
  padding-left: 12px;
}

.slider-brand__text span {
  font-size: 40px;
  color: #f16d7f;
}

.category {
  height: 823px;
  padding-top: 98px;
  padding-bottom: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.category-banner:nth-child(1) {
  background-image: url(../img/slider_2.png);
  width: 560px;
  height: 542px;
  position: relative;
}

.category-banner:nth-child(1) .category-banner__badge {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-banner:nth-child(2) {
  background-image: url(../img/slider_3.png);
  width: 560px;
  height: 261px;
  position: relative;
}

.category-banner:nth-child(2) .category-banner__badge {
  width: 225px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-banner:nth-child(3) {
  background-image: url(../img/slider_4.png);
  width: 560px;
  height: 261px;
  position: relative;
}

.category-banner:nth-child(3) .category-banner__badge {
  width: 162px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-banner:nth-child(4) {
  background-image: url(../img/slider_5.png);
  width: 560px;
  height: 542px;
  position: relative;
}

.category-banner:nth-child(4) .category-banner__badge {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}

.category-banner__content {
  padding-top: 15px;
  padding-left: 18px;
}

.category-banner__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.category-banner__name {
  font-size: 30px;
  color: #f16d7f;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.products-title {
  text-align: center;
}

.products-title__name {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.products-title__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.products-content {
  height: 767px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes {
  width: 263px;
  height: 364px;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.products-content__clothes:hover .products-content__img {
  background-color: #333;
  background-blend-mode: overlay;
}

.products-content__clothes:hover .products-content__hover {
  opacity: 1;
}

.products-content__clothes:first-child .products-content__img {
  background-image: url(../img/product_1.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(2) .products-content__img {
  background-image: url(../img/product_2.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(3) .products-content__img {
  background-image: url(../img/product_3.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(4) .products-content__img {
  background-image: url(../img/product_4.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(5) .products-content__img {
  background-image: url(../img/product_5.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(6) .products-content__img {
  background-image: url(../img/product_6.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(7) .products-content__img {
  background-image: url(../img/product_7.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__clothes:nth-child(8) .products-content__img {
  background-image: url(../img/product_8.png);
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__hover {
  width: 123px;
  height: 39px;
  border: 2px solid #ffffff;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: absolute;
  top: 98px;
  left: 70px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-content__hover img {
  padding-right: 3px;
}

.products-content__text {
  padding-left: 15px;
}

.products-content__name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 18px;
}

.products-content__cost {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 16px;
}

.products-button {
  text-align: center;
}

.products-button__link {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
  margin-top: 70px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.products-button__link:hover {
  background-color: #cdcdcc;
}

.products-button__fa-long-arrow-alt-right {
  font-size: 15px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.feature {
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 113px;
}

.feature-slider {
  background-image: url(../img/slider_6.png);
  background-repeat: no-repeat;
  width: 767px;
  height: 529px;
  position: relative;
}

.feature-slider .feature-slider__img {
  width: 100%;
  height: 529px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.feature-slider .feature-slider__content {
  min-width: 293px;
  height: 78px;
  position: absolute;
  top: 146px;
  left: 39px;
}

.feature-slider .feature-slider__content .feature-slider__title {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.feature-slider .feature-slider__content .feature-slider__title span {
  color: #f16d7f;
}

.feature-slider .feature-slider__content .feature-slider__text {
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.feature-box {
  width: 373px;
  height: 529px;
  background-color: #1a1e28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-box .feature-blok {
  width: 100%;
  min-height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.feature-box .feature-blok:nth-child(1) .feature-blok__img {
  width: 45px;
  height: 32px;
}

.feature-box .feature-blok:nth-child(2) .feature-blok__img {
  width: 40px;
  height: 40px;
}

.feature-box .feature-blok:nth-child(3) .feature-blok__img {
  width: 47px;
  height: 35px;
}

.feature-box .feature-blok .feature-blok__content {
  width: 219px;
}

.feature-box .feature-blok .feature-blok__content .feature-blok__title {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.feature-box .feature-blok .feature-blok__content .feature-blok__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.subscribe-slider {
  min-height: 438px;
  background-image: url(../img/slider_8.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin-top: 97px;
  background-size: cover;
}

.subscribe-slider-bkg {
  background-image: url(../img/slider_10.png);
  width: 100%;
  height: 438px;
  position: absolute;
}

.subscribe-box {
  min-height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.quotation {
  min-height: 438px;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotation__img {
  width: 83px;
  height: 83px;
  padding-top: 111px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.quotation__text {
  width: 386px;
  padding-top: 123px;
  padding-left: 28px;
}

.quotation__italics {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.quotation__name {
  padding-top: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.quotation__name span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.quotation__pages {
  padding-top: 37px;
}

.quotation__pages .quotation__page {
  height: 5px;
  width: 38px;
  display: inline-block;
  background-color: #d6d6d6;
  margin-right: 13px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.quotation__pages .quotation__page:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.quotation__pages .quotation__active {
  height: 5px;
  width: 38px;
  display: inline-block;
  background-color: #f16d7f;
  margin-right: 13px;
}

.subscribtion {
  min-height: 438px;
  width: 570px;
  border-left: 2px solid white;
  text-align: center;
}

.subscribtion__text {
  padding-top: 125px;
}

.subscribtion__text h3 {
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribtion__text h4 {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribtion .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 46px;
  padding-top: 35px;
}

.subscribtion .email input {
  height: inherit;
  width: 230px;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  opacity: 0.67;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-left: 25px;
}

.subscribtion .email button {
  height: inherit;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  outline: none;
  overflow: hidden;
  border: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.subscribtion .email button:hover {
  background-color: #cdcdcc;
}

.footer {
  padding-top: 129px;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-copy {
  width: 500px;
  padding-bottom: 85px;
}

.logo-copy p {
  width: 427px;
  min-height: 180px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  padding-top: 28px;
}

.structure {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.structure .company ul {
  padding-top: 40px;
}

.structure .company h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .company a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.structure .information ul {
  padding-top: 40px;
}

.structure .information h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .information a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.structure .shop-category ul {
  padding-top: 40px;
}

.structure .shop-category h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .shop-category a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.company > .company-list .company-link:hover {
  color: #222222;
}

.information > .information-list .information-link:hover {
  color: #222222;
}

.shop-category > .shop-category-list .shop-category-link:hover {
  color: #222222;
}

.copyright {
  background-color: #e6e6e6;
  height: 79px;
}

.copyright-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-box p {
  padding-top: 33px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.icons {
  margin-left: auto;
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icons a {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.icons a:last-child {
  margin-right: 0;
}

.icons a i {
  color: #b2b2b2;
}

.icons a:hover {
  background-color: #cdcdcc;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.icons a:hover i {
  color: #222222;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.icons a:active {
  background-color: #f16d7f;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.icons a:active i {
  color: #f7f7f8;
}
/*# sourceMappingURL=styles_index.css.map */