* {
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body a {
  text-decoration: none;
  color: #222222;
}

body .container {
  width: 1140px;
  margin: 0 auto;
}

body li {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin-left: 13px;
}

.logo__name span {
  font-weight: 900;
  color: #f16d7f;
}

.header > * {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  height: 38px;
  margin-left: 37px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__browse {
  text-align: center;
  width: 87px;
  height: 38px;
  background-color: #f9f9f9;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  padding-top: 4px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__browse:hover {
  cursor: pointer;
  background-color: #cdcdcc;
}

.search__fa-caret-down {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
}

.search__input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  width: 266px;
  height: 38px;
  background-color: #ffffff;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  padding-left: 15px;
}

.search__button {
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #FFFFFF;
  width: 36px;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.search__button:hover {
  background-color: #cdcdcc;
}

.fa-search {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.cart {
  margin-left: auto;
  width: 32px;
  height: 29px;
  color: #222222;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.cart:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.my-account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  margin-left: 26px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.my-account:hover {
  background-color: #cdcdcc;
}

.my-account a {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-top: 4px;
  padding-left: 18px;
}

.my-account__fa-caret-down {
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.top-nav {
  min-height: 51px;
  font-size: 14px;
  font-weight: 700;
}

.top-nav > .menu-list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-top: 17px;
}

.top-nav > .menu-list .menu-link {
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.top-nav > .menu-list .menu-link:hover {
  color: #898989;
}

.top-nav > .menu-list .menu-item {
  margin-right: 48px;
}

.top-nav > .menu-list .menu-item:last-child {
  margin-right: 0;
}

.new-arrivals {
  background-color: #f8f3f4;
  background-size: cover;
  min-height: 148px;
}

.new-arrivals-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
}

.new-arrivals-slider__text {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.new-arrivals-slider__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.new-arrivals-slider__active {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f16d7f;
}

.new-arrivals-slider__link:hover {
  border-bottom: 1px solid #212121;
}

.carousel {
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  min-height: 777px;
  max-width: 1500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -70px;
  position: relative;
  z-index: 1;
}

.carousel .next-arrow {
  height: 47px;
  width: 47px;
  background-color: rgba(14, 12, 12, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.carousel .next-arrow i {
  color: #ffffff;
  font-size: 24px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.carousel .next-arrow:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.carousel .next-arrow:hover i {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.description {
  min-height: 730px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.description__content {
  min-height: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
}

.description h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
}

.description h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.description p {
  width: 618px;
  min-height: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
}

.description__rating {
  color: #f1b746;
}

.description__detailing {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__detailing h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  text-transform: uppercase;
}

.description__detailing h3 span {
  color: #2f2f2f;
}

.description__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__pagination .description__link {
  height: 1px;
  width: 42px;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
}

.description__pagination .description__link-active {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
}

.description__cost {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  padding-bottom: 40px;
}

.description__line {
  width: 618px;
  border-bottom: 1px solid #ececec;
}

.description-block {
  min-width: 537px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.description-block h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.description-block select {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 13px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.description button {
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.description button img {
  padding-right: 13px;
}

.description button:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(247, 143, 143, 0.781);
          box-shadow: 0px 5px 8px 0px rgba(247, 143, 143, 0.781);
}

.may-like {
  min-height: 645px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.may-like h1 {
  padding-top: 119px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.may-like__block {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
}

.may-like__product {
  width: 261px;
  min-height: 364px;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.may-like__product .may-like__hover {
  width: 260px;
  height: 281px;
  background-color: rgba(10, 8, 8, 0.521);
  opacity: 0;
  position: absolute;
}

.may-like__product .may-like__hover a {
  width: 123px;
  height: 39px;
  border: 2px solid #ffffff;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: absolute;
  top: 98px;
  left: 70px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.may-like__product .may-like__hover a img {
  padding-right: 3px;
}

.may-like__product .may-like__img {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.may-like__product .may-like__text {
  padding-left: 15px;
}

.may-like__product .may-like__text h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  padding-top: 18px;
}

.may-like__product .may-like__text p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 15px;
}

.may-like__product:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(49, 49, 49, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(49, 49, 49, 0.15);
}

.may-like__product:hover .may-like__hover {
  opacity: 1;
}

.may-like__product:hover .may-like__hover a {
  opacity: 1;
}

.subscribe-slider {
  min-height: 438px;
  background-image: url(../img/slider_8.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin-top: 97px;
  background-size: cover;
}

.subscribe-slider-bkg {
  background-image: url(../img/slider_10.png);
  width: 100%;
  height: 438px;
  position: absolute;
}

.subscribe-box {
  min-height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.quotation {
  min-height: 438px;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotation__img {
  width: 83px;
  height: 83px;
  padding-top: 111px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.quotation__text {
  width: 386px;
  padding-top: 123px;
  padding-left: 28px;
}

.quotation__italics {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.quotation__name {
  padding-top: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.quotation__name span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.quotation__pages {
  padding-top: 37px;
}

.quotation__pages .quotation__page {
  height: 5px;
  width: 38px;
  display: inline-block;
  background-color: #d6d6d6;
  margin-right: 13px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.quotation__pages .quotation__page:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.quotation__pages .quotation__active {
  height: 5px;
  width: 38px;
  display: inline-block;
  background-color: #f16d7f;
  margin-right: 13px;
}

.subscribtion {
  min-height: 438px;
  width: 570px;
  border-left: 2px solid white;
  text-align: center;
}

.subscribtion__text {
  padding-top: 125px;
}

.subscribtion__text h3 {
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribtion__text h4 {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribtion .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 46px;
  padding-top: 35px;
}

.subscribtion .email input {
  height: inherit;
  width: 230px;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  opacity: 0.67;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding-left: 25px;
}

.subscribtion .email button {
  height: inherit;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  outline: none;
  overflow: hidden;
  border: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.subscribtion .email button:hover {
  background-color: #cdcdcc;
}

.footer {
  padding-top: 129px;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-copy {
  width: 500px;
  padding-bottom: 85px;
}

.logo-copy p {
  width: 427px;
  min-height: 180px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  padding-top: 28px;
}

.structure {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.structure .company ul {
  padding-top: 40px;
}

.structure .company h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .company a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.structure .information ul {
  padding-top: 40px;
}

.structure .information h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .information a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.structure .shop-category ul {
  padding-top: 40px;
}

.structure .shop-category h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.structure .shop-category a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.company > .company-list .company-link:hover {
  color: #222222;
}

.information > .information-list .information-link:hover {
  color: #222222;
}

.shop-category > .shop-category-list .shop-category-link:hover {
  color: #222222;
}

.copyright {
  background-color: #e6e6e6;
  height: 79px;
}

.copyright-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-box p {
  padding-top: 33px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.icons {
  margin-left: auto;
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icons a {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.icons a:last-child {
  margin-right: 0;
}

.icons a i {
  color: #b2b2b2;
}

.icons a:hover {
  background-color: #cdcdcc;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.icons a:hover i {
  color: #222222;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.icons a:active {
  background-color: #f16d7f;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.icons a:active i {
  color: #f7f7f8;
}
/*# sourceMappingURL=styles_single_page.css.map */